@page "/currentRace"

<div class="text-center">
	<PageTitle>Race</PageTitle>


	<div>
		@if (!stopwatch.isRunning)
		{
			<button class="btn btn-primary btn-race-start" @onclick="StartStopwatch">Start Race</button>
		}
		Hej



		<Stopwatch @ref="stopwatch" changeButton="ChangeButton"></Stopwatch>



	</div>
	<footer>
		@if (stopwatch.isRunning)
		{
			<button class="btn btn-danger btn-race-start" @onclick="ResetStopwatch">Cancel Race</button>
		}
	</footer>
</div>


@code {

	private Stopwatch stopwatch = new Stopwatch();

	private async Task StartStopwatch()
	{
		await stopwatch.Start();
		ChangeButton();
	}

	private void ResetStopwatch()
	{
		stopwatch.Reset();
		ChangeButton();
	}

	public void ChangeButton()
	{
		if (stopwatch.isRunning)
		{
			stopwatch.hidden = false;
		}
		else
		{
			stopwatch.hidden = true;
		}
		StateHasChanged();
	}
}
