@page "/currentRace"

<PageTitle>Race</PageTitle>

<h1>Race</h1>

<div>
	<Stopwatch>
		<button class="btn-primary" @onclick="StartStopwatch">
			Start
		</button>
	</Stopwatch>
</div>

@code {

	[Parameter] public EventCallback OnButtonClicked { get; set; }

	async Task StartStopwatch()
	{
		if (OnButtonClicked.HasDelegate)
		{
			await OnButtonClicked.InvokeAsync();
		}
	}

}
