@page "/currentRace"

<PageTitle>Race</PageTitle>

<h1>Race</h1>

<div>
	<Stopwatch>
		Jag är så himla cool<br />
		<ul>
			<li>
				Hej
			</li>
			<li>
				Då
			</li>
		</ul>
	</Stopwatch>
</div>

@code {

}
