@page "/currentRace"

<div class="text-center">
	<PageTitle>Race</PageTitle>


	<div>
		@if (!stopwatch.isRunning)
		{
			<button class="btn btn-primary btn-race-start" @onclick="StartStopwatch">Start Race</button>
		}


		<Stopwatch @ref="stopwatch"></Stopwatch>



	</div>
</div>


@code {

	private Stopwatch stopwatch = new Stopwatch();

	private void StartStopwatch()
	{
		stopwatch.Start();
		stopwatch.hidden = false;
	}
}
